:root {
  --content-padding: 10px;
  --content-margin: 20px;

  --js-theme-color: #f7df1e;
  --css-theme-color: #1572b6;
  --node-theme-color: #90c53f;
  --aws-theme-color: #f7981f;
  --react-theme-color: #00d8ff;
}

#App {
  margin: 1.5em auto;
  max-width: 1200px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0;
}

.header-container {
  border: 1px solid black;
}

.content-container {
  background-color: black;
}

.footer-container {
  background-color: red;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: var(--content-padding);
}

.navbar__logo {
  text-decoration: none;
}

.navbar__item-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-left: 0;
  width: 100%;
}

.navbar__item-container--hidden {
  display: none;
}

.navbar__nav-item {
  list-style: none;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.navbar__nav-item:hover {
  background-color: gray;
}

.jumbotron {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: Gradient 8s ease infinite;
  text-align: center;
}

.jumbotron__view-more {
  width: fit-content;
  text-decoration: none;
  text-transform: capitalize;
}

.personality__item {
  display: grid;
  grid-template-columns: 2.5em 1fr;
  align-items: center;
  margin: 0;
}

.personality__caption {
  text-transform: capitalize;
  margin-left: 1em;
  font-size: larger;
  font-weight: 600;
}

.personality__description {
  grid-column: 1 / span 2;
  grid-row: 2;
  margin: 10px 0;
}

.personality__img {
  width: 100%;
}

/* skills */
.skills__chart {
  display: flex;
  flex-flow: column;
}

.chart__item-container {
  display: grid;
  grid-template-columns: minmax(16px, 10%) minmax(16px, auto);
}

.chart__item-container > figure {
  margin: 0;
}

.chart__header {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  z-index: -1;
}

.chart__header__logo {
  width: 60%;
}

.chart__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  padding-left: 10px;
  margin: 5px;
}

.chart__items > li {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: center;
}

.chart__item--filled[data-title="javascript"] {
  background-color: var(--js-theme-color);
}

.chart__item--filled[data-title="css"] {
  background-color: var(--css-theme-color);
}
.chart__item--filled[data-title="react"] {
  background-color: var(--react-theme-color);
}
.chart__item--filled[data-title="node"] {
  background-color: var(--node-theme-color);
}
.chart__item--filled[data-title="aws"] {
  background-color: var(--aws-theme-color);
}

.chart__description {
  display: grid;
  grid-template-columns: 15% auto;
  align-items: center;
}

.chart__desc__img {
  width: 100%;
}
