:root {
  --js-theme-color: #f7df1e;
  --css-theme-color: #1572b6;
  --node-theme-color: #90c53f;
  --aws-theme-color: #f7981f;
  --react-theme-color: #00d8ff;

  --margin-content: 1.5rem;
  --padding-content: 1rem;
}

#App {
  margin: 1.5em auto;
  max-width: 1200px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0;
}

.body--scroll-disabled {
  overflow: hidden;
}

.header-container {
  border: 1px solid black;
}

.content-container {
  background-color: black;
}

.footer-container {
  background-color: red;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: var(--content-padding);
}

.navbar__logo {
  text-decoration: none;
}

.navbar__item-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-left: 0;
  width: 100%;
}

.navbar__item-container--hidden {
  display: none;
}

.navbar__nav-item {
  list-style: none;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.navbar__nav-item:hover {
  background-color: gray;
}

.jumbotron {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: Gradient 8s ease infinite;
  text-align: center;
}

.jumbotron__view-more {
  width: fit-content;
  text-decoration: none;
  text-transform: capitalize;
}

.personality__item {
  display: grid;
  grid-template-columns: 2.5em 1fr;
  align-items: center;
  margin: 0;
}

.personality__caption {
  text-transform: capitalize;
  margin-left: 1em;
  font-size: larger;
  font-weight: 600;
}

.personality__description {
  grid-column: 1 / span 2;
  grid-row: 2;
  margin: 10px 0;
}

.personality__img {
  width: 100%;
}

/* skills */
.skills__chart {
  display: flex;
  flex-flow: column;
}

.chart__item-container {
  display: grid;
  grid-template-columns: minmax(16px, 10%) minmax(16px, auto);
  align-items: center;
}

.chart__item-container > figure {
  margin: 0;
}

.chart__header {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  z-index: -1;
}

.chart__header__logo {
  width: 60%;
}

.chart__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  padding-left: 0px;
  /* margin: 5px; */
}

.chart__items > li {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: center;
}

.chart__item--filled {
  padding-left: 20px;
  font-size: x-large;
  font-weight: 900;
  color: white;
  text-align: start;
}
.chart__item--filled[data-title="javascript"] {
  background-color: var(--js-theme-color);
}

.chart__item--filled[data-title="css"] {
  background-color: var(--css-theme-color);
}
.chart__item--filled[data-title="react.js"] {
  background-color: var(--react-theme-color);
}
.chart__item--filled[data-title="node.js"] {
  background-color: var(--node-theme-color);
}
.chart__item--filled[data-title="aws"] {
  background-color: var(--aws-theme-color);
}

.chart__description {
  display: grid;
  grid-template-columns: 15% auto;
  align-items: center;
}

.chart__desc__img {
  width: 100%;
}

/* project */

/* project__card-list */
.card-list {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: center;
}

/* project__card */
.card {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.card__tag-group {
  padding-left: 0;
}

.card__tag {
  list-style: none;
  display: inline-block;
  margin: 5px;
}

.card__thumb {
  width: 100%;
}

@media screen and (min-width: 630px) {
  .card-list {
    display: flex;
    flex-flow: row wrap;
  }

  .card {
    width: 32%;
  }
}

/* project__modal */

.modal--closed {
  display: none;
}

.modal--opened {
  display: flex;
  justify-content: center;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: var(--margin-content);
  background-color: white;
  overflow: auto;
}

.modal__header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1.5vw;
}

.modal__title {
  position: relative;
  grid-column: 2 / 4;
  font-size: 2rem;
  right: 2rem;
}

.modal__button-close {
  grid-column-start: 4;
  font-size: 2rem;
}

.modal__main {
  margin: var(--margin-content);
}
